.thumb {
  .masonry-meta-avatar, .masonry-meta-author {
    cursor: pointer;
  }
  .masonry-actionbar {
    width: 100%;
    text-align: left;
  }
  .masonry-actionbar {
    .btn-delete {
      float: right;
      position: relative;
      right: -12px;
      top: -12px;
      border-radius: 50%;
    }
    .btn-delete:hover {
      border-color: @text-color-pink;
      color: @text-color-pink;
      background: @text-color-white;
    }
  }
  .fa-heart, .fa-th-large {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .thumb {
    .masonry-actionbar {
      display: block !important;
    }
    .img-container {
      width: 100%;
      margin-right: 0;
    }
    .masonry-meta-comment {
      font-size: 1.2em;
    }
    .masonry-meta-content {
      font-size: 1.8em !important;
    }
  }
}

.card {
  background: @ui-element-bg;
  border: @ui-element-border;
  font-size: 0.9em;
  float: left;
  margin: @ui-element-margin;
  padding: 0;
  position: relative;
  width: 305px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.card.card-reward{
  width: 305px;
}

.card-header {
  padding: @card-padding-meta;
  color: @text-normal-color;
  font-size: 17px;
}

.card-header {
  .card-loves {
    vertical-align: middle;
  }
  .card-loves i {
    font-size: 1.5em;
    float: right;
    margin-left: 6px;
  }
}

.card-footer {
  padding: @card-padding-meta;
  color: @text-normal-color;
}

.card-footer {
  .card-stat {
    text-align: center;
    font-size: 14px;
  }
  .card-stat strong {
    display: block;
    font-family: @text-bold-font;
  }
  .card-stat small {
    display: block;
    font-family: @text-normal-font;
    font-size: 0.8em;
  }
  .btn {
    width: 100%;
    color: @btns-text-color !important;
  }
}