.sy-grid {
  position: relative;
}

.sy-feed-grid {
  width: 100%;
}

.sy-feed-grid {
  .grid-item {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    display: block;
  }
}