/* variables */
@slider-margin:       20px 30px;
@slider-dimension:    90px;
@slider-label-size:   16px;
@slider-label-font:   @text-normal-font;

/* active knob component */
.slider-container {
  margin: @slider-margin;
  display: inline-block;
  width: @slider-dimension;
  text-align: center;
}
.slider-container {
  .slider-label {
    font-size: @slider-label-size;
    font-family: @slider-label-font;
  }
}